body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}


.Event {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.Event h6{
    margin-top: 5px;
    font-size: 12px;
    color: black;
}

/* Color classes */
.green {
    background-color: #4CAF50;
}

.blue {
    background-color: #2196F3;
}

.red {
    background-color: #F44336;
}

.yellow {
    background-color: #FFC107;
    color: black;
}

.purple {
    background-color: #9C27B0;
}

.orange {
    background-color: #FF9800;
}